/*WEBPAGE LAYOUT*/
html, body {
    background-color: black;
    text-align:center;
}
body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: normal;
    margin:8px;

}
/*HEADINGS*/
h1 {
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 50px;
    font-weight: normal;
    text-align: center;
}
h2 {
    color:white;
    font-size:42px;
    font-weight:300;
}
/*TEXT, links and subheadings*/
.cta {
    color:aquamarine;
    font-size: 16px;
}
p {
    color:grey;
    font-size:21px;
}
/*VIDEO*/
video {
    object-fit:contain;
    overflow-clip-margin:inherit;
    overflow: clip;
}
/*BOTTOM PAGE*/
.footer {
    color:gray;
    text-align:right;
}